.main {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.h2_main, .h3_main, .img_main {
    text-align: center;
}

.h2_main {
    margin-top: 75px;
}

ol, ul {
    margin-left: 50px;
    margin-bottom: 0;
}

.h3_main {
    margin: 15px 0px 17px 0px;
    margin-top: 10px;
}

.charter_lb {
    margin: 0px 165px 0px 165px;
}

.resp-tab {
    border-radius: 5px;
    margin-top: 10px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 20%)
}

.resp-tab td, .resp-tab th {
    text-align: center;
    padding: 8px;
    font-size: 15px;
    border: none;
    font-family: Verdana, sans-serif;
}

.resp-tab td {
    font-size: 13px;
    border-right: 1px solid #E6E4E4;
}

.resp-tab th {
    color: #ffffff;
    background: #8e9dab;
}

.resp-tab th:nth-child(odd) {
    background: #8e9dab;
}

.resp-tab tr:nth-child(even) {
    background: #F8F8F8;
}

@media (max-width: 767px) {
    .charter_lb {
        margin: 0px 15px 0px 15px !important;
    }
    .resp-tab {
        display: block;
        width: 450px;
    }
    .resp-tab thead, .resp-tab tbody, .resp-tab thead th {
        display: block;
    }
    .resp-tab thead {
        float: left;
    }
    .resp-tab tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .resp-tab td, .resp-tab th {
        padding: 10px 2px;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 160px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .resp-tab thead th {
        text-align: center;
    }
    .resp-tab tbody tr {
        display: table-cell;
    }
    .resp-tab tbody tr:nth-child(odd) {
        background: none;
    }
    .resp-tab tr:nth-child(even) {
        background: transparent;
    }
    .resp-tab tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .resp-tab tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .resp-tab td {
        display: block;
        text-align: center;
    }
}